<div class="wrap2 group">
    <p id="copyright">&copy; 2007-<script>document.write(new Date().getFullYear())</script> Angel Lakes <span>Siret Registered: 48457215100013</span></p>
</div>
<script src="scripts/custom.js"></script>
