<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Angel Lakes | All Inclusive Carp Fishing In France</title>
        <meta name="description" content="Angel Lakes offers all inclusive carp fishing in France.">
        <meta name="keywords" content="fishing, carp, france, all inclusive, all inclusive carp fishing, all inclusive carp fishing france, carp fishing holidays, fishing holiday france, angel, angel lakes, carp fishing france" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Bitter:400italic|Ubuntu:400,700'>
        <link rel="stylesheet" href="/stylesheets/styles.css" type='text/css'>
    </head>
