<header>
    <div class="group">
        <a href="/" title="Angel Lakes" id="logo" class="hide-text">
            Angel Lakes
            <% include includes/logo.svg %>
        </a><!-- //logo -->
        <div id="navToggle"><% include includes/nav.svg %></div><!-- //navToggle -->
        <ul id="navLinks">
            <li><a href="/lakes" class="navLakes" title="Lakes"><% include includes/_lakes.svg %> Lakes</a></li>
            <li><a href="/gallery" class="navGallery" title="Gallery"><% include includes/_gallery.svg %> Gallery</a></li>
            <li><a href="/facilities" class="navFacilities" title="Facilities"><% include includes/_facilities.svg %> Facilities</a></li>
            <li><a href="/package" class="navPackage" title="Package"><% include includes/_package.svg %> Package</a></li>
            <li><a href="/rules" class="navRules" title="Rules And Terms"><% include includes/_rules.svg %> Rules &amp; Terms</a></li>
            <li><a href="/contact" class="navContact" title="Contact"><% include includes/_contact.svg %> Contact</a></li>
        </ul><!-- //navLinks -->
    </div><!-- //group -->
    <h1>All Inclusive <span>Carp Fishing In France</span></h1>
    <a href="/booking" title="Booking Information" class="button buttonBooking">Booking Information</a>
</header>
