<% include partials/head.ejs %>
    <body id="<%= pagename %>">
        <div class="wrap group">
            <% include partials/header.ejs %>

            <div class="innerWrap innerPage">
            <p class="pageIntro">We are now taking bookings for the 2016 season at <% include partials/lakeprice.ejs %> per person. This is our confirmation booking form. Please <a href="/contact" title="Contact Us">contact us</a> prior to sending any payments as availability and dates need confirming for your booking. If you would prefer, you can <a href="/form.pdf" title="Our Print Booking Form">save and print this form</a> then send it to us. Please do not bring your own baits with you as you will not be able to use them. We monitor the quality of baits going into the lake and like to make sure our fish are getting only the best of what they need.</p>

            <form id="booking_form" class="group" action="/booking" method="post">
                <section>
                    <h5>Contact Information</h5>
                    <label for="booking_name">What's your name?</label>
                    <input type="text" id="booking_name" name="booking_name" placeholder="John Doe" />

                    <label for="booking_email">What's your email address?</label>
                    <input type="text" id="booking_email" name="booking_email" placeholder="name@email.com" />

                    <label for="booking_address">Your Address</label>
                    <textarea id="booking_address" name="booking_address" placeholder="Full postal address"></textarea>

                    <label for="booking_daytime">Daytime Phone Number</label>
                    <input type="text" id="booking_daytime" name="booking_daytime" placeholder="Full number, including area code" />

                    <label for="booking_evening">Evening Phone Number</label>
                    <input type="text" id="booking_evening" name="booking_evening" placeholder="Full number, including area code" />
                </section>

                <section>
                    <h5>Payment Information</h5>
                    <div class="group">
                        <p>Do you wish to hire a bait boat?</p>
                        <p>Bait boats are <% include partials/boatprice.ejs %>/week and must be booked in advance. Hire cost to be paid upon arrival.</p>
                        <input type="checkbox" id="booking_boatyes" name="booking_boatyes" value="Yes" />Yes
                        <input type="checkbox" id="booking_boatno" name="booking_boatno" value="No" />No
                    </div>
                    <p class="format_section">The total balance of your holiday must be received no later than eight weeks before your departure date (if not received by this date, we reserve the right to cancel the booking). Bookings made within eight weeks of the departure date require payment in full along with the booking form. See our site for current prices.</p>

                    <label for="booking_total">Total Cost</label>
                    <input type="text" id="booking_total" name="booking_total" placeholder="Total cost of your booking in GBP (£)" />

                    <label for="booking_deposit">Deposit</label>
                    <input type="text" id="booking_deposit" name="booking_deposit" placeholder="Deposit amount being paid in GBP (£)" />

                    <label for="booking_balance">Balance</label>
                    <input type="text" id="booking_balance" name="booking_balance" placeholder="Balance remaining in GBP (£)" />
                    <p>N.B. Flights are not included. For cheap air travel, try Ryanair at ryanair.com. Payments by cheque should be made payable to Paul Ward and sent to the following address:</p>
                    <p class="form_space">Angel Lakes, 33 Wellington St, Hertford, Hertfordshire, SG14 3AN</p>
                    <p>To pay directly into our bank account, payments should be addressed to Mr P W Ward and sent to the following details:</p>
                    <p>Bank: Barclays, Sort Code: 20-20-37, Account Number: 33799239</p>
                </section>

                <section>
                    <h5>Booking Details</h5>

                    <label for="booking_details_arrival">Arrival Date</label>
                    <input type="text" id="booking_details_arrival" name="booking_details_arrival" placeholder="Date your flight arrives" />

                    <label for="booking_details_flyfrom">Airport Flying From</label>
                    <input type="text" id="booking_details_flyfrom" name="booking_details_flyfrom" placeholder="Which airport you are flying from" />

                    <label for="booking_details_flightnum">Flight Number</label>
                    <input type="text" id="booking_details_flightnum" name="booking_details_flightnum" placeholder="The flight number you'll be arriving on" />

                    <label for="booking_details_depdate">Departure Date</label>
                    <input type="text" id="booking_details_depdate" name="booking_details_depdate" placeholder="Date of your departure" />

                    <label for="booking_details_fishnum">Number Of Fishing Guests</label>
                    <input type="text" id="booking_details_fishnum" name="booking_details_fishnum" placeholder="How many fishing guests are coming?" />

                    <label for="booking_details_nonfishnum">Non Fishing Guests</label>
                    <input type="text" id="booking_details_nonfishnum" name="booking_details_nonfishnum" placeholder="How many non-fishing guests are coming?" />

                    <label for="booking_guestnames">Names Of Guests</label>
                    <textarea id="booking_guestnames" name="booking_guestnames" placeholder="Full names of all guests"></textarea>
                </section>

                <section>
                    <h5>Acceptance Information</h5>
                    <p class="format_section">On behalf of the named guests, I declare that I agree to accept the terms and conditions of the booking as stated.</p>

                    <label for="booking_signame">Your Name</label>
                    <input type="text" id="booking_signame" name="booking_signame" placeholder="John Doe" />

                    <label for="booking_sigdate">Date Of Declaration</label>
                    <input type="text" id="booking_sigdate" name="booking_sigdate" placeholder="Today's date" />
                </section>

                <section>
                    <h5>Terms &amp; Conditions</h5>
                    <p id="bookTerms">Holiday will be reserved when completed booking form and deposit are received (must be received within five days of initial booking). Bookings remain provisional until this time. The booking is taken as being confirmed when we have forwarded an invoice to the party organiser. If you cancel a confirmed booking, you may be subject to cancellation fees — see website for details. We accept no responsibility for problems with travel arrangements, including delays and flight cancellations. It is your responsibility to make sure you have the correct and up to date travel documents. We will not be held liable for loss or delay occasioned by any of the following: Political unrest, Riots, Port closures, Airport Terminal Closures, Strikes, Industrial Disputes, War (or threat of), Terrorist Activity, Technical/Weather Problems With Transportation, Fire, Flood, Acts Of God, or any other events beyond our control. If any changes to the confirmed booking are required, we will try to be flexible where possible. Children under 16 are welcome, if accompanied by an adult. We reserve the right to terminate your holiday if you are causing harm or disturbance to others, grounds, property or lakes. You will not be liable for a refund any may incur costs for damages. Holiday deposits are taken on the understanding that these terms have been read and accepted. On arrival at Angel Lakes, we require a <% include partials/tackleprice.ejs %> deposit on the hired tackle. Providing all tackle is returned at the end of the holiday in good working condition, the monies will be refunded.</p>
                </section>
                <input type="submit" id="form_submit" class="button buttonSend" name="form_submit" value="Submit Form" />
            </form>
        </div><!-- //innerWrap -->

        </div><!-- wrap group -->
        <% include partials/footer.ejs %>
    </body>
</html>
