<% include partials/head.ejs %>
    <body id="<%= pagename %>">
        <div class="wrap group">
            <% include partials/header.ejs %>
            <div class="innerWrap innerPage">
                <p class="pageIntro">Thanks! Your booking confirmation has been sent to us. If you have any questions regarding your booking, please <a href="/contact" title="Contact Us">contact us</a> and we'll do our best to help. In the meantime, feel free to head back to our <a href="/gallery" title="Gallery">gallery</a> and take a look at some of the carp that could soon be in your net!</p>
            </div>
        </div><!-- wrap group -->
        <% include partials/footer.ejs %>
    </body>
</html>
