<% include partials/head.ejs %>
    <body id="<%= pagename %>">
        <div class="wrap group">
            <% include partials/header.ejs %>

            <div class="innerWrap innerIntro">
                <p>Two mature, spring-fed lakes of 7 acres and 2.5 acres, set in 25 acres of quiet French woodland and home to a large stock of immaculate carp with loads of 30lb+, many above 45lb and up to and including some monsters of over 50lb. Did we mention it’s all-inclusive?</p>
            </div><!-- //innerWrap -->
            <a href="/gallery" title="View The Gallery" id="indexGallery">
                <img src="/images/intro_placeholder.jpg" alt="Recent Catch Photo" />
            </a><!-- //indexGallery -->

        </div><!-- wrap group -->
        <% include partials/footer.ejs %>
    </body>
</html>
