<% include partials/head.ejs %>
    <body id="<%= pagename %>">
        <div class="wrap group">
            <% include partials/header.ejs %>

            <div class="innerWrap">
                <p class="pageIntro">We’re always working hard to bring you the best possible experience during your stay with us and to make sure our fish are just as happy as our anglers! Detailed below is a selection of our current facilities. Take a look at what’s on offer!</p>
            </div><!-- //innerwrap -->

            <section class="innerSection facilitiesServices">
                <div class="innerWrap">
                    <h4 class="innerSubtitle">Our Services</h4>
                </div><!-- //innerWrap -->
            </section><!-- //innerSection -->
            <div class="innerWrap">
                <p class="pageMain">We also sell our very own additional terminal tackle, should you need to top up during your stay. All of the essentials are here from hooks, leads and clips to safety tubing, swivels and PVA. Your breakfast and evening meals are taken care of each day and you can also purchase snacks during the day if you wish! From soft drinks and beer to baguettes and chocolate. Tea and coffee is available 24 hours a day and we have a dining area with decking overlooking the lake where you can relax, eat and socialise with other anglers. We have a fully functioning, modern, clean English toilets and shower block too, including a separate women’s toilet. English Bailiffs are on hand 24 hours a day to help you out if/when you need it. We also have UK power outlets for charging your electronic devices at the lake.</p>
                <div class="detailImages group">
                    <img src="/images/facilities_tackle1.jpg" alt="Bait Boat Photo" />
                    <img src="/images/facilities_kitchen1.jpg" alt="Leads Photo" />
                    <img src="/images/facilities_tackle3.jpg" alt="Terminal Tackle Photo" />
                </div><!-- //detailImages -->
            </div><!-- //innerWrap -->

            <section class="innerSection facilitiesCabin">
                <div class="innerWrap">
                    <h4 class="innerSubtitle">The Cabin</h4>
                </div><!-- //innerWrap -->
            </section><!-- //innerSection -->
            <div class="innerWrap">
                <p class="pageMain">The cabin is conveniently located right next to the lake and comes equipped with all modern amenities including a fireplace, hot and cold water, a kettle with tea and coffee, modern toilet, TV/DVD player and a sofa-bed. People wanting to hire the cabin for their holidays should inquire about it when contacting us as it should be booked in advance.</p>
                <div class="detailImages group">
                    <img src="/images/facilities_cabin4.jpg" alt="Cabin Front Photo" />
                    <img src="/images/facilities_cabin2.jpg" alt="Cabin Fireplace Photo" />
                    <img src="/images/facilities_cabin6.jpg" alt="Cabin View Photo" />
                </div><!-- //detailImages -->
            </div><!-- //innerWrap -->

            <section class="innerSection facilitiesBait">
                <div class="innerWrap">
                    <h4 class="innerSubtitle">Our Bait</h4>
                </div><!-- //innerWrap -->
            </section><!-- //innerSection -->
            <div class="innerWrap">
                <p class="pageMain">We are currently offering a range of fantastic baits from Munch Baits — The Compound and BioMarine. We also sell our own low oil, high protein pellet mix which the lakes are fed with all year round, making for great fish health and weights all year round. You are always welcome to bring your own baits as long as they don’t conflict with our rules on prohibited baits such as pellets, particles and nuts — We just have confidence in the bait we’re using and feeding with at the lake. Our pellet is £20 for 10 Kilo and our fresh freezer bait is £11/Kilo.</p>
                <div class="detailImages group">
                    <img src="/images/facilities_bait1.jpg" alt="Boilies Photo" />
                    <img src="/images/facilities_bait2.jpg" alt="Pellet Photo" />
                    <img src="/images/facilities_bait3.jpg" alt="Boilies Photo" />
                </div><!-- //detailImages -->
            </div><!-- //innerWrap -->

            <section class="innerSection facilitiesTackle">
                <div class="innerWrap">
                    <h4 class="innerSubtitle">The Tackle</h4>
                </div><!-- //innerWrap -->
            </section><!-- //innerSection -->
            <div class="innerWrap innerPage">
                <p class="pageMain">Our equipment is constantly reviewed and renewed when needed, ensuring you have the best tackle available and can rest in comfort during your stay! Currently, we’re using: TFG Lock-Down Twin Skin Bivvy, TFG 3-Leg Bedchair, Stainless Goalpost Pods, Fox Buzzers and Swingers, TFG Delta XS 3lb TC Rods and Shimano 8000 Baitrunners loaded with 15lb Big Game.</p>
                <p class="pageMain">To compliment the tackle, each angler also has their own Reuben Heaton tripod, JRC Scales, Nash Euro Cradle and Weigh Sling and a large Fox landing net. Once you’ve had a look around and decided on a swim, it’s time to pick your bait of choice and get it out there! We can help with that too — the bailiff is on hand to give you any help you need and choosing spots to fish on and baiting up if required. You can either make use of one of our excellent Viper Storm bait boats for <% include partials/boatprice.ejs %> for the entire week or take the rowing boat out and spread your baits over a larger area. All you need to bring is your terminal tackle and you’re ready to go! Don’t forget your headtorches — A lot of our carp like to make an appearance during the night and you’ll want to see where you’re going!</p>
                <div class="detailImages group">
                    <img src="/images/facilities_setup1.jpg" alt="Peg Setup Photo" />
                    <img src="/images/facilities_setup2.jpg" alt="Rod Setup Photo" />
                    <img src="/images/facilities_setup3.jpg" alt="Boat Photo" />
                </div><!-- //detailImages -->
            </div><!-- //innerWrap -->

        </div><!-- wrap group -->
        <% include partials/footer.ejs %>
    </body>
</html>
