<% include partials/head.ejs %>
    <body id="<%= pagename %>">
        <div class="wrap group">
            <% include partials/header.ejs %>

            <div class="innerWrap">
                <p class="pageIntro">We have 6 spacious pegs laid out with everything you need to catch our Carp, beautiful tree lined banks around the lake with a host of fishing situations. The swims offer a variety of spots, from large silt holes, gravel runs, old river beds and snaggy bushes to ambush the fish from.</p>
            </div><!-- //innerwrap -->
            <section id="lakeMap">
                <div class="innerWrap">
                    <% include partials/includes/lakes.svg %>
                </div><!-- //innerWrap -->
            </section><!-- //lakeMap -->
            <div class="innerWrap innerPage">
                <p class="pageMain">Two mature, spring-fed lakes of 7 acres and 2.5 acres, set in 25 acres of quiet French woodland. The lakes were dug in 1962 and up until now they were used for irrigation, therefore these lakes have hardly been fished. 2 ton of carp were added to original stock in Autumn 2005. The larger 7 acre lake is now the fishing lake shown below and smaller 2.5 acre lake is our stocking lake.</p>

                <div class="group pegPhotos">
                    <div class="peg">
                        <img src="/images/peg_1.jpg" alt="Peg 1 Photo" />
                        <p>Peg 1</p>
                    </div>
                    <div class="peg">
                        <img src="/images/peg_2.jpg" alt="Peg 2 Photo" />
                        <p>Peg 2</p>
                    </div>
                    <div class="peg">
                        <img src="/images/peg_3.jpg" alt="Peg 3 Photo" />
                        <p>Peg 3</p>
                    </div>
                    <div class="peg">
                        <img src="/images/peg_4.jpg" alt="Peg 4 Photo" />
                        <p>Peg 4</p>
                    </div>
                    <div class="peg">
                        <img src="/images/peg_5.jpg" alt="Peg 5 Photo" />
                        <p>Peg 5</p>
                    </div>
                    <div class="peg">
                        <img src="/images/peg_6.jpg" alt="Peg 6 Photo" />
                        <p>Peg 6</p>
                    </div>
                </div><!-- //group -->
                <p class="pageMain">We have a good head of large carp with loads of 30lb+ and 40lb+ fish and many above 45lb and some reaching as much as 50lb and over. There’s a 24 hour bailiff on hand to offer help with rigs, tactics, fish care, photography and bait. Whatever your level of experience, we’re here to help!</p>
            </div><!-- //innerWrap -->

        </div><!-- wrap group -->
        <% include partials/footer.ejs %>
    </body>
</html>
