<% include partials/head.ejs %>
    <body id="<%= pagename %>">
        <div class="wrap group">
            <% include partials/header.ejs %>

            <div class="innerWrap innerPage">
                <p class="pageIntro">We don’t have a lot of restrictive rules in place at the lake and the ones in place are for the safety of visiting anglers as well as our fish. You’re here to enjoy yourself on holiday and hopefully land yourself a new personal best – following our few simple rules will help you do just that!</p>

                <ul class="innerList">
                    <li><span>No sacking of fish.</span></li>
                    <li><span>Carp cradles and mats must be used at all times.</span></li>
                    <li><span>All fish must be returned unharmed.</span></li>
                    <li><span>No standing with fish whilst taking photographs.</span></li>
                    <li><span>Fish to be held over mats or in the lake.</span></li>
                    <li><span>No rods to be left out unattended at any time.</span></li>
                    <li><span>No braided shock, snag leaders or lead core.</span></li>
                    <li><span>No fixed lead rigs to be used.</span></li>
                    <li><span>No excessive drinking or rowdy behaviour.</span></li>
                    <li><span>No litter at any time.</span></li>
                    <li><span>Don't forget to have a great time!</span></li>
                </ul>

                <h4 class="pageSub">Bait Rules</h4>
                <p class="pageMain">Please do not bring your own baits with you as you will not be able to use them. We monitor the quality of baits going into the lake and like to make sure our fish are getting only the best of what they need. Pellet is also prohibited unless purchased at the lake. This is for the health of our fish and anybody found to be breaking these rules will be removed from the premises. We supply a variety of baits at the lake which are safe to use and which we recommend. For details on these, please see the <a href="/facilities" title="See Our Facilities">facilities</a> page.</p>

                <h4 class="pageSub">Terms &amp; Conditions</h4>
                <p class="pageMain">1. Once we have received your complete booking form and deposit, your holiday will be reserved. The booking is taken as being confirmed when we have forwarded an invoice to the party organiser.</p>
                <p class="pageMain">2. A non-refundable deposit of <% include partials/depoprice.ejs %> per person must be included in your completed booking form.</p>
                <p class="pageMain">3. The total balance for you holiday must be received no later then 8 weeks before you departure date (if payment is not received by this date Angel Lakes reserves the right to cancel the booking). If a booking is made within 8 weeks of departure, the full payment is required with the booking form.</p>
                <p class="pageMain">4. If you cancel a confirmed booking you may be subject to cancellation fees: Cancellation 8 weeks or more before departure date is deposit only. Cancellation 5-8 weeks before departure is 50% of the holiday cost. Cancellation less than 5 weeks before departure is the full cost of the holiday.</p>
                <p class="pageMain">5. We accept no responsibility for any problems with travel arrangements, this includes delays, flight cancellations etc. It is your responsibility to make sure you have the correct and up-to-date travel documents.</p>
                <p class="pageMain">6. We will not be held liable for loss or delay occasioned by any of the following: Political unrest, Riots, Port closures, Airport terminal closures, Strikes, Industrial disputes, War or Threat of, Terrorist activity, Technical/weather problems to transportation, Fire, Flood, Acts of God, or any other events beyond our control.</p>
                <p class="pageMain">7. If any changes to the confirmed booking are required, we will try to be flexible where possible.</p>
                <p class="pageMain">8. Children under 16 are welcome, if accompanied by an adult.</p>
                <p class="pageMain">9. We reserve the right to terminate your holiday if you are causing harm or disturbance to others, grounds, property or lakes. You will not be liable for a refund and may incur costs for damage.</p>
                <p class="pageMain">10. Holiday deposits are taken on the understanding that these terms have been read and accepted.</p>
                <p class="pageMain">11. On arrival at Angel Lakes we require a refundable <% include partials/tackleprice.ejs %> deposit on the hired tackle. Providing all tackle is returned at the end of the holiday (in good condition) the monies will be refunded.</p>
            </div><!-- //innerWrap -->

        </div><!-- wrap group -->
        <% include partials/footer.ejs %>
    </body>
</html>
